.counter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}
h1{
  text-align: center;
}
.counter > div{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  align-items: center;
}
.change-quantity{
  font-size: 40px;
  font-weight: bold;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  box-shadow: 0 0 5px black;
  cursor: pointer;
}

.value{
  font-size: 40px;
  font-weight: bold
}